<!--ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content bg-white>
	<h2 class="vrt_txt">Sign Up</h2>
	<div class="top-img-str"></div>
	<div class="cont-login">		
		<div class="logo-top-al">
			<img src="assets/images/logo.png">
		</div>
		<div class="main-ttl">
			<h3> Create an account </h3>
			<p> Fill Email Address to Signup </p>
		</div>
		<div class="flds-login">
			<div formfield>
				<label>Email Address</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter email address"[(ngModel)]="signup_email" name="signup_email"  ></ion-input>
				</ion-item>
				<span error *ngIf="errors.indexOf(signup_email) >= 0 && is_submit_register == true">Please enter your email address</span>
				<span error *ngIf="errors.indexOf(signup_email) == -1 && is_submit_register == true && !reg_exp.test(signup_email.toLowerCase())">Please enter valid email address</span>
			</div>
			<div formfield style="margin-top:26px;">
				<label>Password</label>
				<ion-item lines="none" class="fls"> 
					<ion-input type="password"	placeholder="Enter password"[(ngModel)]="signup_password" name="signup_password"  ></ion-input>
				</ion-item>
				<span error *ngIf="errors.indexOf(signup_password) >= 0 && is_submit_register == true">Please enter your password</span>
			</div>
			<ion-button expand="full" shape="round" class="btn-losns" (click)="signup()">Verify</ion-button>
			<div class="warning">By signing up, you are agreeing to our Privacy and
				Terms of Use.</div>
			<div class="social_signup">
				<h5>Or Sign Up With</h5>
				<div sociallink>
				<ion-buttons facebook  (click)="facebookLogin()">
				<ion-icon name="logo-facebook"></ion-icon>
				</ion-buttons>
				<ion-buttons google (click)="googleLogin()">
				<ion-icon name="logo-google"></ion-icon>
				</ion-buttons>
			</div>
			<p>Already have an account? <a href="javascript:void(0)" routerLink="/login">Login Here</a></p>
			</div>
		</div>	
	</div>

</ion-content>
