<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/settings" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">Change Password </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
	<div profileinfo>
	<div editprofile>
<div class="flds-login">
			<div formfield>
				<label>Old Password</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter Old Password" value=""
					[(ngModel)]="oldpassword" name="oldpassword" type="password"
					></ion-input>
				</ion-item>
					<span error *ngIf="errors.indexOf(oldpassword) >= 0 && is_submit== true">Please enter old password</span>
				
			</div>
			<div formfield>
				<label>New Password</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter New Password" value=""
					[(ngModel)]="newpassword" name="newpassword"   type="password"
					></ion-input>
				</ion-item>
				<span error *ngIf="errors.indexOf(newpassword) >= 0 && is_submit == true">Please enter your new password</span>
			
			</div>
			<div formfield>
				<label>Confirm Password</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter confirm password" [(ngModel)]="cpassword" name="cpassword" type="password"></ion-input>
					
				</ion-item>
					<span error *ngIf="errors.indexOf(cpassword) >= 0 && is_submit == true">Please enter confirm password</span>
					<span error *ngIf="errors.indexOf(cpassword) == -1 && is_submit == true && newpassword!=cpassword">Password and confirm password does not match</span>
			</div>
			<ion-button  expand="full" shape="round" class="btn-losns"(click)="save()">Submit</ion-button>
		</div>
		</div>
	</div>
</ion-content>