<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/settings" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">FAQ</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
<div faqlist>
<h3 subhead>
 What Is FoodForLife
</h3>
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
</div>
<div faqlist>
<h3 subhead>
 What does  FoodForLife do ?
</h3>
<p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
		<p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. </p>
</div>
<div faqlist>
<h3 subhead>
Why Hunger ?
</h3>
<p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
</div>
<div faqlist>
<h3 subhead>
How Is Donation used ?
</h3>
<p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. </p>
</div>
</ion-content>
