<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644296139301-4bkkjasefktuo2u8975gnqp5qgn0f5gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644296139301-4bkkjasefktuo2u8975gnqp5qgn0f5gk</string>
	<key>API_KEY</key>
	<string>AIzaSyDQBE6u4oxOTpDIWZYOJumxxiEEIOmFLJs</string>
	<key>GCM_SENDER_ID</key>
	<string>644296139301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ffldonate.com</string>
	<key>PROJECT_ID</key>
	<string>ffldonate</string>
	<key>STORAGE_BUCKET</key>
	<string>ffldonate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644296139301:ios:52f5983aeb4cb9749b55cc</string>
</dict>
</plist>