<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/tribes" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">Activity Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div detailbanner>
<img src="assets/images/paul-feeding.jpg"/>
</div>

<div detailcontent class="ion-padding">
<h2>Feed Children Around World</h2>
 <ion-note><ion-icon name="calendar-outline"></ion-icon> 17 Sept</ion-note>
<p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b> </p> <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  <ion-button shape="round" expand="full">Give Now</ion-button>
</div>
</ion-content>
