<!--ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content bg-white>
<ion-header>

   <ion-back-button defaultHref="/signup">
   </ion-back-button>
 
</ion-header>
	<h2 class="vrt_txt">OTP CODE</h2>
	<div class="top-img-str"></div>
	<div class="cont-login">
		
		<div class="logo-top-al">
			<img src="assets/images/logo.png">
		</div>
		<div class="main-ttl">
			<h3> Confirmation Code </h3>
			<p> We have sent a code to your  email address please enter it below. </p>
		</div>
		<div class="flds-login">
			<div formfield>
        
					<ion-item lines="none" class="fls"> 
					<ion-input type="tel" #otp1 (keyup)="otpController($event,otp2,'')"  maxlength="1" [(ngModel)]="input1"></ion-input>
					</ion-item>
					<ion-item lines="none" class="fls"> 

					<ion-input type="tel" #otp2 (keyup)="otpController($event,otp3,otp1)"  maxlength="1" [(ngModel)]="input2"> </ion-input>
					</ion-item>
					<ion-item lines="none" class="fls">
				    <ion-input type="tel" #otp3 (keyup)="otpController($event,otp4,otp2)" maxlength="1" [(ngModel)]="input3"> </ion-input>
					</ion-item>
					<ion-item lines="none" class="fls"> 
					<ion-input type="tel" #otp4  maxlength="1" [(ngModel)]="input4"> </ion-input>
					</ion-item>
			</div>
			<ion-button expand="full" shape="round" class="btn-losns" (click)="verify()">Submit Now</ion-button>
			<div class="warning" >No email received <p  class="resend" (click)="resend()">Resend Code</p></div>
			
		</div>	
	</div>

</ion-content>
