 <ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/tribes" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">Team Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div profileinfo>
<div profileimg>
  <img src="assets/images/krishnadasHaiti.jpg"/>
  <div userinner>

<img src="assets/images/team1.jpg">
</div>
</div>
<div userimg>

<h2>#260Litros</h2>
<ion-row>
<ion-col size="6">
<div teammeal>
<span>
<ion-icon name="heart"></ion-icon>
</span>
<div mealright>
<h4>1,804,874</h4>
<p>meals</p>
</div>
</div>
</ion-col>
<ion-col size="6">
<div teammeal>
<span>
<ion-icon name="people"></ion-icon>
</span>
<div mealright>
<h4>9,735</h4>
<p>members</p>
</div>
</div>
</ion-col>
</ion-row>
</div>
</div>
<div teaminner>
<h2 heading>
Detail
</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
<p>It has survived not only five centuries, but also the leap into electronic typesetting. </p>
  <ion-button shape="round" expand="full">Join team</ion-button>
</div>
</ion-content>
