<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/settings" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
<div class="cont-box-main">
		<div class="top-img">
			<img src="assets/images/paul-feeding.jpg">
		</div>
		<div class="content-bxa about_us" [innerHTML]='about?.description'>
		</div>
		<div class="content-bxa">
		
			<!--h4> <span class="left-rf-boc"> A Brief History of Food for Life Global </span> </h4>
			<p> Food for Life Global (FFLG) was founded in 1995 and currently has a headquarters based in Delaware, USA (FFLG – Americas), and a European office based in Ljubljana, Slovenia to serve as the coordinating, training and support team for all Food for Life projects worldwide. With 213 affiliates in 60 countries serving up to 2 million plant-based meals daily, FFLG is the world’s largest food relief organization. With a mission to address the root cause of all social issues through teaching spiritual equality in practice and precept, our projects also include health education, eco-farming, schooling, animal rescue, and animal care.</p>
			<h4 class="mt-15"> <span class="left-rf-boc "> Background on the Food for Life Project </span> </h4>
			<p>The distribution of sanctified plant-based meals has been and will continue to be an essential part of India’s Vedic culture of hospitality from which Food for Life was born. Since its inception in the early ’70s, Food for Life has tried to liberally distribute pure plant-based meals (prasadam) throughout the world with the aim of creating peace and prosperity. The Food for Life Global office facilitates the expansion, coordination, and promotion of prasadam distribution throughout the world. The project started in 1974 after yoga students of Swami Prabhupada, the founder of ISKCON became inspired by his plea that “No one within a ten-mile radius of a temple should go hungry!” Today Food for Life is active in over 60 countries. </p-->
		</div>
		<span class="about-bg-txt "> About Us </span>
	</div>
</ion-content>
