<ion-header>
  <ion-toolbar color="primary">
	      <ion-buttons (click)="dismiss() " slot="end">
         <ion-icon name="close-sharp"></ion-icon>
        </ion-buttons>
	<ion-title class="ion-text-center">Your Amount</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
<div amountimg class="ion-text-center">
<img src="assets/images/mappic6.jpg"/>
<p>Please enter amount that you would like to donate. Miniumum donation amount is $1 dollar.</p>
<p style="color:#1e1e1e;font-weight:500;" *ngIf="errors.indexOf(charityid)==-1">{{charity?.title}}</p>
<p style="color:#1e1e1e;font-weight:500;" *ngIf="errors.indexOf(actid)==-1">{{act?.title}}</p>
<p style="color:#1e1e1e;font-weight:500;" *ngIf="errors.indexOf(teamid)==-1">{{team?.name}}</p>
</div>
<div formfield dollar-input>
				<label>Your Amount</label>
				<ion-item lines="none" class="fls">  
         <img src="assets/images/dollar-icon.png" />
					<ion-input placeholder="Enter Your Amount" type="number"  id="amount1" (keyup)="search_keyword($event);"></ion-input>
				</ion-item>
				
</div>
<p style="padding-top: 9px; margin: 0px; font-size: 12px; padding-left: 20px;"><span class="no_meals">0</span> meals</p>
<ion-button  expand="full" shape="round" class="btn-losns" (click)="confirm();">Confirm</ion-button>


</ion-content>
