.jointeamconfirm {
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 15px;
}


ion-content{
    --background: #0000006e;
    .popupconfirm p {
        text-align: center;
    }
    .popup_actionwrap {
        display: flex;
        ion-button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
