<ion-app   >
 <!--ion-split-pane contentId="main-content"-->
    <!-- <ion-menu contentId="main-content" type="overlay" *ngIf="errors.indexOf(userid)==-1">
      <ion-content>
        <ion-list menutop>
		<ion-item color="primary" lines="none">
		<ion-avatar>
		  <img src="assets/images/user1.jpg" *ngIf="errors.indexOf(profile_pic)>=0"
		  src="{{IMAGES_URL}}/{{profile_pic}}"/> 
		  <img  *ngIf="errors.indexOf(profile_pic)==-1" src="{{IMAGES_URL}}/{{profile_pic}}"/>
		  
		</ion-avatar>
		<ion-label>
		<h2>{{first_name}} {{last_name}}</h2>
		<p>{{email}}</p>
		</ion-label>
		</ion-item>
        </ion-list>
        <ion-list>
    
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root"  (click)="logout()" lines="none" detail="false" [class.selected]="selectedIndex == i">
              
              <ion-icon slot="start" [name]="p.icon" ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> -->
	
	
	<!--  <ion-menu contentId="main-content" type="overlay" *ngIf="errors.indexOf(userid)>=0">
      <ion-content>
       
        <ion-list>
    
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root"  routerLink="/login" lines="none" detail="false" >
              

              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!--/ion-split-pane-->
</ion-app>
