<ion-header>
      <ion-toolbar color="primary">
        <ion-back-button defaultHref="/tabs/settings" slot="start">
        </ion-back-button>
        <ion-title class="ion-text-center">Add Payment Method</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div paymentimg class="ion-text-center">
<img src="assets/images/addpayment.jpg"/>
</div>
<div formfield>
				<label>Card Holder Name</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter Name" [(ngModel)]="name" name="name" ></ion-input>
				</ion-item>
				<span error *ngIf="errors.indexOf(name) >= 0 && is_submit_payment == true">Please enter card holder name</span>
</div>
<div formfield>
				<label>Card Number</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter Card Number" [maxlength]="16" [(ngModel)]="card_number" name="card_number"></ion-input>
				</ion-item>
				<span error *ngIf="errors.indexOf(card_number) >= 0 && is_submit_payment == true">Please enter card number</span>
</div>
<div formfield>
				<label>Expiration Date</label>
				<ion-item lines="none" class="fls"> 
				<ion-datetime displayFormat="MM/YYYY" placeholder="Select Date" display-timezone="utc"
				 [(ngModel)]="exp_date" name="exp_date" min="2021" max="2030"></ion-datetime>
				</ion-item>
				 <span error *ngIf="errors.indexOf(exp_date) >= 0 && is_submit_payment == true">Please enter expiration date</span>
				
</div>
<div formfield>
				<label>CVC</label>
				<ion-item lines="none" class="fls"> 
					<ion-input placeholder="Enter CVC" [(ngModel)]="cvc" name="cvc"></ion-input>
				</ion-item>
				 <span error *ngIf="errors.indexOf(cvc) >= 0 && is_submit_payment == true">Please enter cvc</span>
			
</div>
<ion-button  expand="full" shape="round" class="btn-losns" (click)="addcard()">Save Payment Method</ion-button>

</ion-content>
