<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/tribes" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">Search or Create Team</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="search">
  <ion-searchbar placeholder="Search Team..."></ion-searchbar>
  </div>
  <ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team1.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#260Litros</h2>
		 <p><span><ion-icon name="heart"></ion-icon>1736</span> <span><ion-icon name="people"></ion-icon>259</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>
				<ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team2.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#ARRIracing</h2>
		 <p><span><ion-icon name="heart"></ion-icon>1736</span> <span><ion-icon name="people"></ion-icon>344</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>

		<ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team4.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#CycleRacing</h2>
		 <p><span><ion-icon name="heart"></ion-icon>344</span> <span><ion-icon name="people"></ion-icon>654</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>

		<ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team1.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#MealsForLove</h2>
		 <p><span><ion-icon name="heart"></ion-icon>456</span> <span><ion-icon name="people"></ion-icon>346</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>
<ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team1.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#260Litros</h2>
		 <p><span><ion-icon name="heart"></ion-icon>1736</span> <span><ion-icon name="people"></ion-icon>259</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>
				<ion-item lines="none">
		 <ion-thumbnail>
		 <img src="assets/images/team2.jpg"/>
		 </ion-thumbnail>
		 <ion-label>
		 <h2>#ARRIracing</h2>
		 <p><span><ion-icon name="heart"></ion-icon>1736</span> <span><ion-icon name="people"></ion-icon>344</span></p>
		 </ion-label>
		 <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
		</ion-item>
		
		<ion-fab routerLink="/createteam" vertical="bottom" horizontal="end" edge size="small" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
