<ion-header>
  <ion-toolbar color="primary">
	      <ion-buttons (click)="dismiss() " slot="end">
         <ion-icon name="close-sharp"></ion-icon>
        </ion-buttons>
	<ion-title class="ion-text-center">Donation Jar</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
<div amountimg class="ion-text-center">
<img src="assets/images/donationjar1.png"/>
<p>Please press button below to donate 25 cents</p>
</div>

<ion-button  expand="full" shape="round" class="btn-losns">Give Now</ion-button>
<span>To Donate More <a href="javasctipt:void(0)">Click Here</a> </span>
</ion-content>
