ion-header
{
	
	  ion-toolbar
	  {--ion-color-base: var(--ion-color-bggradient)!important;
	  --border-width: 0;
	
		  ion-title{
		  color:var(--ion-color-white);
		  text-align:center;
            font-style: normal;
            font-family: 'Poppins', sans-serif !important;
        }
		ion-buttons
		{
		font-size: 25px;
    margin-right: 10px;
		}
	}
	&::after
	{
	display:none;
	}
}
ion-content
{[amountimg]
{
  img
  {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid var(--ion-color-softgreen);
  }
  p
  {	font-size: 14px;
				line-height: 22px;
				font-weight: 300;
				color: #adadad;
				margin-top: 10px;
  
  }
}
[formfield] {
			position: relative;
			border: 1px solid #e8e8e8;
			height: 52px;
			border-radius: 50px;
			background:var( --ion-color-white);
			padding: 0 16px;
			margin-top:20px;
			label {
				position: absolute;
				top: -10px;
				z-index: 111;
				background: var( --ion-color-white);
				left: 29px;
				padding: 0 3px;
				font-size: 12px;
				font-weight: 700;
				color: #3a3a3a;
			}
			ion-input , ion-datetime  {
				padding: 0px;
				--padding-start: 0px;
				--padding-end: 0px;
				font-size: 14px;
				--placeholder-color: #9a9a9a;
				--placeholder-opacity: 1;
				font-family: 'Poppins', sans-serif !important;
				color: #222;
			}
			&[dollar-input]
			{
			    img
			    {
			         max-width:15px;
			         margin-right: 4px;
			    }
			     ion-item
			     {
			          --padding-start:0px;
			     }
			}
		}
		.btn-losns{
			--background:var( --ion-color-primary);
			margin-top: 10px;
			--box-shadow: none;
            min-height: 48px;
			margin-bottom: 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
}
[payment_list]
{
	padding: 20px 0px 0px;
	ion-item-sliding
	{
		background: rgba(255 , 255 , 255 , 1);
		width: 100%;
		border-radius: 12px;
		border: 1px solid #fafafa;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
        margin-bottom: 20px;    			
		ion-item
		{
		    --background:var(--ion-color-white);
			--background: var(--ion-color-white);
			--padding-start: 10px;
			--inner-padding-end: 0px;
			--padding-bottom: 10px;
			--padding-top: 10px;
			--padding-end: 10px;			
			ion-label
			{
				margin:0px;		
				.box-crdits 
				{
					width: 100%;
					.top-cips 
					{
						display: flex;
						align-items: center;
						justify-content: space-between;
					    margin-bottom: 5px;	
						p {
							font-size: 10px;
							text-transform: uppercase;
							letter-spacing: 1px;
							margin: 0px;
							color:var(--ion-color-black);
							span {
								display: block;
								font-size: 13px;
								font-weight: 500;
								letter-spacing: 2px;
							}
						}
					}
					.accnt-nusm 
					{
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin: 0px 5px 0px 0px;
						letter-spacing: 3px;
						span
						{
							color: rgba(0,0,0,0.8);
							font-size: 12px;
							font-weight: 500;
						}
					}
					.tst-lta 
					{
						p {
							color: rgba(0,0,0,0.8);
							font-size: 10px;
							text-transform: uppercase;
							letter-spacing: 1px;
							margin: 0px;
							span {
								display: block;
								font-size: 13px;
								font-weight: 500;
								letter-spacing: 2px;
							}
						}
					}			
				}		
			}		
		}
        ion-item-options
        {
		    ion-item-option
			{
			    padding: 0px 1px;
				font-size: 20px;
				outline: 0px;
				&[payment_delete]
				{
					background: var(--ion-color-primary);
				}
				&[payment_edit]
				{
					background: var(--ion-color-green);
				}
			}
		}			
	}
}[addpayment] {
    text-align: left;
    font-size: 14px;
    margin-bottom:10px;
	a
	{text-decoration: none;
	}
}