<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button defaultHref="/tabs/settings" slot="start">
	</ion-back-button>
	<ion-title class="ion-text-center">Privacy Policy</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
<div class="content-terms privacy_description" [innerHTML]="privacy?.description">
</div>
<!--div class="content-terms" >
        <p>www.ffl.org is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. By clicking submit you consent to us contacting you for this purpose and allow www.ffl.org to store and process the personal information submitted above to provide you the content requested.</p>
		<p>You may unsubscribe from these communications at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our Privacy Policy.</p>
		<h4 subhead> Introduction</h4>
		<p> We are committed to safeguarding the privacy of our website visitors, volunteers and donors.</p>
		<p> This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.</p>
		<p> We use cookies on our website. Insofar as those cookies are not strictly necessary for the provision of our website and services, we will ask you to consent to our use of cookies when you first visit our website.</p>
		<p> In this policy, “we”, “us” and “our” refer to Food for Life Global – Americas Inc.. For more information about us, see Section 12.</p>
		
		<h4 subhead> How we use your personal data </h4>
		<p> In this Section 2 we have set out</p>
		<ul>
		      <li>The general categories of personal data that we may process;</li>
			  <li>In the case of personal data that we did not obtain directly from you, the source and specific categories of that data;</li>
			  <li>The purposes for which we may process personal data; and</li>
			  <li>The legal bases of the processing.</li>
		</ul>
		<p>We may process data about your use of our website and services (“usage data“). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is our legitimate interests, namely monitoring and improving our website and the users experience.</p>
		<p>We may process your account data (“account data“). The account data may include your name and email address. The source of the account data is you or your employer. The account data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
		<p>We may process your information included in your personal profile on our website (“profile data“). The profile data may include your name, address, telephone number, and email address. The profile data may be processed for the purposes of enabling and monitoring your use of our website and services. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
		<p>We may process your personal data that are provided in the course of the use of our services (“service data“). The service data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
		<p>We may process information contained in any enquiry you submit to us regarding goods and/or services (“enquiry data“). The enquiry data may be processed for the purposes of offering, marketing and selling relevant goods and/or services to you. The legal basis for this processing is consent.</p>
		<p>We may process information relating to transactions, including purchases of goods and services, that you enter into with us and/or through our website (“transaction data“). The transaction data may include your contact details, your card details and the transaction details. The transaction data may be processed for the purpose of supplying the purchased goods and services and keeping proper records of those transactions. The legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract and our legitimate interests, namely the proper administration of our website and business.</p>
		<p>We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (“notification data“). The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters. The legal basis for this processing is consent.</p>
	</div---->
</ion-content>
