   <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
		<ion-buttons routerLink="/tabs/settings"  slot="end">
		<ion-icon name="settings-outline"></ion-icon>
		</ion-buttons>
      </ion-toolbar>
	  </ion-header>

<ion-content>
<div profileinfo>
<div profileimg>
  <img src="assets/images/paul-feeding.jpg"/>
  <div userinner>
  <a btnedit    routerLink="/editprofile" >
     <ion-icon name="create-outline"></ion-icon>
  </a>
<img src="assets/images/user1.jpg" *ngIf="errors.indexOf(userdetails?.image)>=0">
<img src="{{IMAGES_URL}}/{{userdetails?.image}}" *ngIf="errors.indexOf(userdetails?.image)==-1">
 <!--img *ngIf="errors.indexOf(userdetails?.image) == -1 && getimage(userdetails?.image) == false && is_live_image_updated_profile == false" src="{{IMAGES_URL + userdetails?.image}}">
 <img *ngIf="errors.indexOf(userdetails?.image) == -1 && getimage(userdetails?.image) == true  && is_live_image_updated_profile == false" src="{{IMAGES_URL}}/{{userdetails?.image}}">
 <img *ngIf="image_type == 'profile'  && is_live_image_updated_profile == true" [src]="win.Ionic.WebView.convertFileSrc(live_image_url)">
 <img *ngIf="errors.indexOf(userdetails?.image) >= 0 && is_live_image_updated_profile == false" src="assets/images/user1.jpg"-->


</div>
</div>
<div userimg>

<h2 *ngIf="errors.indexOf(userid)>=0">Together We Can End The Hunger</h2>
<p *ngIf="errors.indexOf(userid)>=0">Sign In or Create an account to kep track of your personal impact</p>
<a btnaccount  routerLink="/signup" href="javascript:void(0)"*ngIf="errors.indexOf(userid)>=0">Create Account or Login</a>
</div>
</div>
<div profileinner>
<h2 heading>
Your Donations
</h2>
		<p *ngIf="donationlist?.length==0">No Record Found..!</p>
		<ion-item lines="none"  *ngFor="let don of donationlist">
		<ion-thumbnail>
		<img src="{{IMAGES_URL}}/{{don?.image}}"/>
		</ion-thumbnail>
		<ion-label>
		<h3>{{don?.title}}</h3>
		<p><b>{{don?.amount}} Cents</b> giving to {{don?.title}}</p>
		<ion-note><ion-icon name="calendar-outline"></ion-icon> {{don?.donated_at | date : 'd MMM yyyy'}}</ion-note>
		</ion-label>
		</ion-item>
	</div>
<div certficate-sec>
     <ion-button href="https://ffl.org/donate/join-the-10-a-month-club/" expand="full" shape="round" class="btn-losns">Get Certificate</ion-button>
</div>
</ion-content>
