
<ion-content>
	<div class="popupsocialshare">
		<h4>Social Share Options </h4>

	
    <ion-row class="ion-align-items-center shareicons" >
      <ion-col size="3">
          <ion-button  (click)="SendEmail()" class="envelopeIcon"><ion-icon name="mail-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button  (click)="ShareFacebook()"  class="facebookIcon"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
          <ion-button  (click)="ShareWhatsapp()"  class="whatsappIcon"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>
      <!--ion-col size="2">
        <ion-button  color="secondary" (click)="SendTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      </ion-col-->   
      <ion-col size="3">
        <ion-button  (click)="SendInstagram()"  class="instagramIcon"><ion-icon name="logo-instagram"></ion-icon></ion-button>
      </ion-col>    
    </ion-row>

    <div class="popup_actionwrap">
      <ion-button expand="full" (click)="cancel()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
		</div>
	</div>
</ion-content>


