<ion-header>
  <ion-toolbar>
    <ion-title>socialshareoptions</ion-title>
  </ion-toolbar>
</ion-header>
<div class="popup_actionwrap"><ion-button shape="round" expand="full" (click)="cancel()">Cancel</ion-button>
</div>
<ion-content>
<ion-row class="ion-align-items-center shareicons" >
      <ion-col size="2">
          <ion-button color="warning" (click)="SendEmail()"><ion-icon name="mail-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" (click)="ShareFacebook()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="2">
          <ion-button color="success" (click)="ShareWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>
      <!--ion-col size="2">
        <ion-button  color="secondary" (click)="SendTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      </ion-col-->   
      <ion-col size="2">
        <ion-button color="tertiary" (click)="SendInstagram()"><ion-icon name="logo-instagram"></ion-icon></ion-button>
      </ion-col>    
    </ion-row>
</ion-content>
